[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dataclasses-json = "*"
marshmallow = "*"
tqdm = "*"
pandas = "*"
pydantic = "*"
aiohttp = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
labelatorio = {editable = true, path = "."}

[requires]
python_version = "3.9"
